Repository renovate-bot/esev-_-pywemo: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS, flake8, pylint, rstcheck, deptry

poetry-check:
  name: poetry-check
  language: system
  entry: poetry check
  pass_filenames: false

poetry-lock-check:
  name: poetry-lock-check
  language: system
  entry: poetry lock
  args:
  - --no-update
  pass_filenames: false

bootstrap-requirements:
  name: bootstrap-requirements
  language: system
  entry: poetry export
  args:
  - --only=bootstrap
  - --format=requirements.txt
  - --output=scripts/bootstrap-requirements.txt_
  pass_filenames: false

generateDS:
  name: generateDS
  language: system
  entry: poetry run python scripts/generate_ds.py
  args:
  - pywemo/ouimeaux_device/api/xsd/device.xsd
  - pywemo/ouimeaux_device/api/xsd/service.xsd
  pass_filenames: false

flake8:
  name: flake8
  language: system
  entry: poetry run flake8
  require_serial: true

pylint:
  name: pylint
  language: system
  entry: poetry run pylint
  args:
  - --disable=fixme
  require_serial: true

rstcheck:
  name: rstcheck
  language: system
  entry: poetry run rstcheck

deptry:
  name: deptry
  language: system
  entry: poetry run deptry .
  pass_filenames: false

Exclude two additional classes from deptry
  pyproject.toml
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Add test for util.interface_addresses
  tests/test_util.py
Due: flake8, pylint, deptry

Allow publish workflow to be triggered manually
  .github/workflows/publish.yml
Due: none

Fix uses
  .github/workflows/publish.yml
Due: none

Fix missing with
  .github/workflows/publish.yml
Due: none

Skip "check" if not a release
  .github/workflows/publish.yml
Due: none

Get version from build outputs
  .github/workflows/publish.yml
Due: none

Get version from build outputs take 2
  .github/workflows/publish.yml
Due: none

Fix writeFile
  .github/workflows/publish.yml
Due: none

Run Publish workflow dry-run on commit to main
  .github/workflows/publish.yml
Due: none

Only run Publish dry-run if workflow files change
  .github/workflows/publish.yml
Due: none

Use the 3.8 build for the release
  .github/workflows/publish.yml
Due: none

Run Publish workflow on changes to pyproject.toml & scripts/build.sh
  .github/workflows/publish.yml
Due: none

Pin Publish actions by digest
  .github/workflows/publish.yml
Due: none

Fix PyPI name in pypi-release job
  .github/workflows/publish.yml
Due: none

Nit: const body...
  .github/workflows/publish.yml
Due: none

Pin actions with SHA in push-build-changes
  .github/workflows/push-build-changes.yml
Due: none

Rename windows & macos jobs
  .github/workflows/build.yml
Due: none

Remove the download step in the check job
  .github/workflows/publish.yml
Due: none

Nit: additional tab on branches
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: none

Update some comments on push-build-changes
  .github/workflows/push-build-changes.yml
Due: none

Avoid checking out code in push-build-changes
  .github/workflows/build.yml
  .github/workflows/push-build-changes.yml
Due: none

Update scorecard.yml
  .github/workflows/scorecard.yml
Due: none

bash on Windows?
  .gitattributes
  .github/workflows/build.yml
  .github/workflows/publish.yml
  pyproject.toml
  pywemo/ouimeaux_device/api/xsd/device.py
  pywemo/ouimeaux_device/api/xsd/service.py
  scripts/build.sh
  scripts/common.sh
  scripts/generate_ds.py
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS, flake8, pylint, deptry

Activate the venv in pre-commit
  scripts/build.sh
Due: none

Cache build inputs
  .github/workflows/build.yml
Due: none

List more contents of the cache
  .github/workflows/build.yml
Due: none

Remove cache listing
  .github/workflows/build.yml
Due: none

No restore for main branch
  .github/workflows/build.yml
Due: none

Now try pywemo_esev
  .github/workflows/build.yml
Due: none

Fuzz the NOTIFY http endpoint
  .clusterfuzzlite/Dockerfile
  .clusterfuzzlite/build.sh
  .clusterfuzzlite/project.yaml
  .clusterfuzzlite/requirements.txt
  .github/workflows/fuzz.yml
  .gitignore
  poetry.lock
  pyproject.toml
  pywemo/ouimeaux_device/api/attributes.py
  pywemo/ouimeaux_device/bridge.py
  pywemo/ouimeaux_device/insight.py
  pywemo/subscribe.py
  pywemo/util.py
  tests/ouimeaux_device/test_device.py
  tests/test_registry_notify_fuzz.py
  tests/test_util.py
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS, flake8, pylint, deptry

Make atheris only install for fuzzing
  .clusterfuzzlite/requirements.txt
  poetry.lock
  pyproject.toml
  tests/atheris.py
  tests/test_registry_notify_fuzz.py
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS, flake8, pylint, deptry

Scope concurrency py event
  .github/workflows/fuzz.yml
Due: none

Rename n_password->len_original
  pywemo/ouimeaux_device/__init__.py
Due: flake8, pylint, deptry

Add cflite coverage & prune crons
  .github/workflows/cflite_cron.yml
Due: none

Generate doc pages on push to main
  .github/workflows/docs.yml
Due: none

Link to docs from README
  README.rst
Due: rstcheck

Improve docs for pywemo/subscribe
  pywemo/README.md
  pywemo/__init__.py
  pywemo/subscribe.py
Due: flake8, pylint, deptry

Path conditions:
  poetry-check: any of: ^(pyproject.toml|poetry.lock)$
  poetry-lock-check: any of: ^(pyproject.toml|poetry.lock)$
  bootstrap-requirements: any of: ^(pyproject.toml|poetry.lock|scripts/bootstrap-requirements.txt_)$
  generateDS: any of: ^(pyproject.toml|poetry.lock|scripts/generate_ds.py|pywemo/ouimeaux_device/api/xsd/.*)$
  flake8: any of: \.py$, but not: pywemo/ouimeaux_device/api/xsd/
  pylint: any of: \.py$
  rstcheck: any of: \.rst$
  deptry: any of: \.py$
